.course-types {
	margin: 0 0 20px 0;
	&-header {
		background-color: #13234f;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 260px;
		overflow: hidden;
		position: relative;
		@media only screen and (max-width: 480px) {
			min-height: auto;
			position: static;
		}
		@media only screen and (max-width: 360px) {
			min-height: auto;
			position: static;
		}
		&__wrapper {
			background-color: #fff;
			padding: 20px 20px 20px 20px;
		}
		&__background {
			background-size: cover;
			background-repeat: no-repeat;
			height: 100%;
			opacity: 1;
			position: absolute;
			width: 100%;
			@media only screen and (max-width: 480px) {
				position: static;
			}
			@media only screen and (max-width: 360px) {
				position: static;
			}
		}
		&__content {
			padding: 30px 60px;
			position: absolute;
			width: 100%;
			@media only screen and (max-width: 480px) {
				padding: 20px 20px;
				position: static;
			}
			@media only screen and (max-width: 360px) {
				padding: 20px 20px;
				position: static;
			}
		}
		&__title {
			color: #fff;
			font-size: 35px;
			font-weight: normal;
			margin: 0 0 0 0;
		}
		&__subtitle {
			color: #fff;
			font-size: 15px;
			font-weight: normal;
		}
	}
}