.course-groups-types {
	clear: both;
	overflow: hidden;
	@media only screen and (max-width: 1290px) {
		padding: 0 20px;
	}
	@media only screen and (max-width: 1200px) {
		padding: 0 20px;
	}
	@media only screen and (max-width: 720px) {
		padding: 0 20px;
	}
	@media only screen and (max-width: 600px) {
		padding: 0 20px;
	}
	@media only screen and (max-width: 480px) {
		padding: 0 20px;
	}
	&-item {
		display: block;
		float: left;
		padding: 23px 0;
		&__link {
			color: $color-fourth;
			display: block;
			font-size: 16px;
			font-weight: 500;
			padding: 0 15px;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				color: #7dc6bd;
			}
			&--active {
				border-bottom: 5px solid $color-second--hover;
				color: $color-second--hover;
				&:hover {
					border-bottom: 5px solid #7dc6bd;
					color: #7dc6bd;
				}
			}
		}
	}
}