.course-slider {
    &-item {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height: 240px;
        list-style: none;
        position: relative;
    }
}