.courses-items {
	padding: 20px 50px;
	@media only screen and (max-width: 600px) {
		padding: 20px 20px;
	}
    .row {
        .col {
            padding: 0 10px;
        }
    }
	&__empty {
		color: $color-fourth;
		font-size: 16px;
		padding: 20px 20px;
		text-align: center;
	}
}

.course-item {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin: 0 0 20px 0;
    overflow: hidden;
	&__bottom {
		border-top: 1px solid #f0f4f4;
		display: flex;
		flex-direction: row;
		margin: 20px 0 0 0;
		@media only screen and (max-width: 480px) {
			display: block;
		}
		@media only screen and (max-width: 360px) {
			display: block;
		}
		&-left {
			width: 150px;
			@media only screen and (max-width: 480px) {
				margin: 0 0 10px 0;
				padding: 0 0 0 0;
				width: 100%;
			}
			@media only screen and (max-width: 360px) {
				margin: 0 0 10px 0;
				padding: 0 0 0 0;
				width: 100%;
			}
			&-label {
				color: #a4b2c2;
				font-size: 13px;
				font-weight: 500;
				padding: 15px 0 5px 0;
			}
			&-value {
				color: #000;
				font-size: 15px;
				text-transform: lowercase;
			}
		}
		&-right {
			padding: 0 0 0 20px;
			@media only screen and (max-width: 480px) {
				padding: 0 0 0 0;
				width: 100%;
			}
			@media only screen and (max-width: 360px) {
				padding: 0 0 0 0;
				width: 100%;
			}
			&-label {
				color: #a4b2c2;
				font-size: 13px;
				font-weight: 500;
				padding: 15px 0 5px 0;
			}
			&-value {
				color: #000;
				font-size: 15px;
				text-transform: lowercase;
			}
		}
	}
    &__description {
        color: #000;
        font-size: 15px;
        line-height: 1.5;
        margin: 0 0 10px 0;
    }
    &__image {
        display: block;
        height: 260px;
        width: 180px;
        &-wrapper {
			@media only screen and (max-width: 480px) {
				display: none;
			}
			@media only screen and (max-width: 360px) {
				display: none;
			}
		}
    }
    &__info {
        padding: 20px;
    }
    &__pagetitle {
        color: #223c92;
        display: block;
        font-size: 20px;
        margin: 0 0 10px 0;
        text-decoration: none;
		&:hover {
	        color: $color-second--hover;
        	text-decoration: underline;
		}
    }
}