.extreme-feedback {
	padding: 50px 80px;
	@media only screen and (max-width: 480px) {
		padding: 20px;
	}
	@media only screen and (max-width: 360px) {
		padding: 20px;
	}
	&-container {
		background-color: #fff;
	}
	&__form {
		.form-group {
			padding: 5px;
		}
		.form-control {
			background-color: #f0f4f4;
			border: 1px solid #d5dce6;
			border-radius: 20px;
			font-size: 15px;
			overflow: hidden;
			padding: 10px 20px;
			resize: none;
			width: 100%;
			
			@include outline-input();
			@include placeholder();
		}
		&-submit {
			@include gay-gradient();
	        border: none;
			border-radius: 20px;
	        color: #fff;
	        font-size: 15px;
			font-weight: normal;
			padding: 11px 28px;
	        text-transform: uppercase;
			width: 100%;
			&:active {
				outline: none;
			}
			&:focus {
				@include gay-gradient-hover();
				outline: none;
			}
			&:hover {
				@include gay-gradient-hover();
			}
		}
	}
	&__line {
		&--1 {
			color: $color-fourth;
			font-size: 30px;
			font-weight: 400;
			line-height: 1.5;
			@media only screen and (max-width: 480px) {
				font-size: 18px;
			}
			@media only screen and (max-width: 360px) {
				font-size: 18px;
			}
		}
		&--2 {
			color: $color-fourth;
			font-size: 30px;
			font-weight: 400;
			line-height: 1.5;
		}
		&--3 {
			color: #000;
			font-size: 15px;
			font-weight: 400;
			line-height: 1.5;
		}
	}
}