.extreme-show {
  &-masthead {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 20px 360px 20px;

    &__caption {
      &--1 {
        color: #fff;
        display: block;
        font-size: 40px;
        font-weight: normal;
        margin: 0 0 4px 0;
        padding: 0 0 0 0;
        text-align: center;
      }

      &--2 {
        color: #fff;
        display: block;
        font-size: 17px;
        font-weight: normal;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        text-align: center;
      }
    }
  }
}
