.index-header {
    background-color: #82dbd8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 30px 30px 30px;
    @media only screen and (max-width: 1366px) {}
    @media only screen and (max-width: 1280px) {}
    @media only screen and (max-width: 1200px) {
		display: block;
	}
    @media only screen and (max-width: 1024px) {
		display: block;
	}
    @media only screen and (max-width: 992px) {}
    @media only screen and (max-width: 720px) {
        display: block;
    }
    @media only screen and (max-width: 600px) {
        display: block;
    }
    @media only screen and (max-width: 360px) {
        display: block;
    }
    &__contacts {
        overflow: hidden;
        padding: 0 0 0 1rem;
        @media only screen and (max-width: 1200px) {
            display: block;
            overflow: visible;
        }
        @media only screen and (max-width: 1024px) {
            display: block;
            overflow: visible;
        }
        @media only screen and (max-width: 720px) {
            display: block;
            overflow: visible;
        }
        @media only screen and (max-width: 600px) {
            display: block;
            overflow: visible;
        }
        @media only screen and (max-width: 360px) {
            display: block;
            overflow: visible;
        }
        &-row {
            /*display: flex;*/
            overflow: hidden;
            @media only screen and (max-width: 1200px) {
                display: block;
            }
            @media only screen and (max-width: 1024px) {
                display: block;
            }
            @media only screen and (max-width: 992px) {
                display: block;
            }
        }
        &-col {
            padding: 0 0 0 0;
            text-align: center;
            @media only screen and (max-width: 360px) {
                padding: 0 0 0 0;
            }
        }
    }
    &-container {
        border-bottom: 1px solid #f00;
    }

	&__order-call {
        background-color: #f7f4dc;
        border: none;
        border-radius: 15px;
        color: $color-third;
        cursor: pointer;
        display: block;
        font-size: 15px;
        font-weight: normal;
        margin: 0;
        padding: 6px 28px;
        text-decoration: none;
        text-transform: lowercase;
		&:active {
			outline: none;
		}
		&:focus {
			color: #1c3069;
			outline: none;
		}
        &:hover {
            color: #1c3069;
        }
        @media only screen and (max-width: 1200px) {
            margin: 0 auto 0 auto;
        }
        @media only screen and (max-width: 1024px) {
            margin: 0 auto 0 auto;
        }
        @media only screen and (max-width: 992px) {
            margin: 1rem auto 0 auto;
        }
        @media only screen and (max-width: 720px) {
            margin: 1rem auto 0 auto;
        }
        @media only screen and (max-width: 600px) {
            margin: 1rem auto 0 auto;
        }
        @media only screen and (max-width: 360px) {
            margin: 0 auto;
        }
    }
    &__phone {
        color: #1c3069;
        display: block;
        font-size: 22px;
        font-weight: normal;
        margin: 0 0 10px 0;
        text-decoration: none;
        &:focus {
            color: $color-third;
            outline: none;
        }
        &:hover {
            color: $color-third;
        }
        @media only screen and (max-width: 992px) {
            margin: 1rem 0 0 0;
        }
		@media only screen and (max-width: 720px) {
			margin: 1rem auto 0 auto;
		}
        @media only screen and (max-width: 600px) {
            margin: 1rem 0 0 0;
        }
        @media only screen and (max-width: 360px) {
            margin: 20px 0 10px 0;
        }
    }
}