.places-list {
	background-color: #fff;
	padding: 10px 50px 20px 50px;
	@media only screen and (max-width: 360px) {
		padding: 0 20px 20px 20px;
	}
}

.place-item {
	margin: 0 0 10px 0;
	&__title {
		color: $color-fourth;
		font-size: 20px;
		font-weight: normal;
	}
	&__address {
		color: $color-second--hover;
		font-size: 15px;
		font-weight: normal;
	}
}